In [2]:
import numpy as np
import pandas as pd

In [3]:
c_data = pd.read_csv('datasets/Congesion.csv')

c_data

,연번,요일구분,호선,역번호,출발역,상하구분,05시-06시,06시-07시,07시-08시,08시-09시,...,15시-16시,16시-17시,17시-18시,18시-19시,19시-20시,20시-21시,21시-22시,22시-23시,23시-00시,00시-01시
0,1,평일,1,158,청량리,상선,7.05,6.40,14.50,13.50,...,29.40,30.75,56.10,52.75,27.25,27.15,23.75,21.95,11.70,0.0
1,2,평일,1,157,제기동,상선,8.15,7.60,17.15,17.40,...,31.15,36.00,63.45,59.40,31.35,30.40,26.60,24.80,14.20,0.0
2,3,평일,1,156,신설동,상선,8.95,8.40,19.05,20.25,...,33.65,37.15,64.30,58.85,32.45,31.55,27.60,25.65,14.35,0.0
3,4,평일,1,159,동묘앞,상선,9.05,9.80,22.35,21.15,...,32.70,36.20,62.50,59.55,31.55,35.95,29.45,25.60,13.90,0.0
4,5,평일,1,155,동대문,상선,9.30,11.15,26.00,25.90,...,35.55,40.40,69.85,63.15,35.15,37.00,33.65,28.70,15.80,3.5
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1657,1658,일요일,8,2823,남한산성입구,하선,4.40,4.05,4.80,7.25,...,12.85,15.40,15.60,15.05,12.40,14.20,12.45,9.50,2.60,NaN
1658,1659,일요일,8,2824,단대오거리,하선,4.35,3.55,4.50,7.30,...,8.60,9.95,9.25,8.20,6.75,7.25,6.20,4.65,1.35,NaN
1659,1660,일요일,8,2825,신흥,하선,4.45,3.40,4.60,7.70,...,7.10,7.75,6.30,5.75,4.45,4.15,3.75,2.95,0.75,NaN
1660,1661,일요일,8,2826,수진,하선,6.30,3.60,5.15,8.10,...,7.25,6.50,5.10,3.80,2.70,2.15,1.70,1.05,0.35,NaN
1661,1662,일요일,8,2827,모란,하선,0.00,0.00,0.00,0.00,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,NaN

In [14]:
b_data = pd.read_csv('datasets/Boarding_disembarkation.csv', encoding='cp949')

b_data[b_data['지하철역'] == '동대문역사문화공원(DDP)']

,사용월,호선명,지하철역,05시-06시 승차인원,05시-06시 하차인원,06시-07시 승차인원,06시-07시 하차인원,07시-08시 승차인원,07시-08시 하차인원,08시-09시 승차인원,...,20시-21시 승차인원,20시-21시 하차인원,21시-22시 승차인원,21시-22시 하차인원,22시-23시 승차인원,22시-23시 하차인원,23시-24시 승차인원,23시-24시 하차인원,00시-01시 승차인원,00시-01시 하차인원
20,202503,2호선,동대문역사문화공원(DDP),5007,1198,4305,8689,7200,23579,13921,...,27915,27684,26440,22185,20634,18476,11062,11247,2173,3557
99,202503,4호선,동대문역사문화공원(DDP),6248,1533,5155,13221,9905,30313,15326,...,41841,22904,39632,19302,30062,16044,16085,10687,2803,3398
135,202503,5호선,동대문역사문화공원(DDP),176,272,778,3039,1775,10184,3202,...,4631,2765,3961,3071,2546,2847,1198,2142,204,587
641,202502,2호선,동대문역사문화공원(DDP),4411,946,3575,7841,5551,16432,11362,...,23389,20791,21363,16295,16975,13657,8107,8082,1620,2667
720,202502,4호선,동대문역사문화공원(DDP),5400,1411,3921,12093,7550,28085,11847,...,35234,17033,32277,13839,23973,11701,11752,7516,2113,2347
756,202502,5호선,동대문역사문화공원(DDP),200,223,619,2791,1383,9747,2554,...,4299,2309,3423,2443,2396,2386,1029,1676,182,447
1262,202501,2호선,동대문역사문화공원(DDP),4006,1028,3506,7800,5527,16671,10490,...,22889,21364,21658,16973,17597,14377,8038,8803,1512,2320
1341,202501,4호선,동대문역사문화공원(DDP),4936,1364,3774,12170,7159,26484,11278,...,33964,17216,31210,14261,23873,11106,11297,7759,1777,2146
1377,202501,5호선,동대문역사문화공원(DDP),213,244,583,2733,1265,8984,2070,...,4003,2227,3175,2456,2255,2098,1016,1489,139,371

In [24]:
mean_b_data = b_data.groupby('지하철역')[['05시-06시 승차인원', '05시-06시 하차인원']].mean(numeric_only=True).round(0)
mean_b_data

           05시-06시 승차인원  05시-06시 하차인원
지하철역
4.19민주묘지         1370.0         347.0
가능               7230.0        1177.0
가락시장             3110.0        1568.0
가산디지털단지          6059.0        3599.0
가양              14724.0        1418.0
...                 ...           ...
회기              10688.0        3359.0
회룡              13009.0        2203.0
회현(남대문시장)        1346.0         756.0
효창공원앞            1416.0         447.0
흑석(중앙대입구)        3604.0         984.0

[528 rows x 2 columns]

In [27]:
merge_data = b_data.merge(mean_b_data, on='지하철역', how='left')
merge_data

,사용월,호선명,지하철역,05시-06시 승차인원_x,05시-06시 하차인원_x,06시-07시 승차인원,06시-07시 하차인원,07시-08시 승차인원,07시-08시 하차인원,08시-09시 승차인원,...,21시-22시 승차인원,21시-22시 하차인원,22시-23시 승차인원,22시-23시 하차인원,23시-24시 승차인원,23시-24시 하차인원,00시-01시 승차인원,00시-01시 하차인원,05시-06시 승차인원_y,05시-06시 하차인원_y
0,202503,1호선,동대문,11164,1862,9327,6671,17135,11777,22194,...,15728,16150,12205,15212,6150,10066,1041,3207,7144.0,1839.0
1,202503,1호선,동묘앞,2717,856,3775,5156,9123,10795,14142,...,5624,7318,4129,6811,1470,4940,151,2079,3445.0,835.0
2,202503,1호선,서울역,10025,9052,26032,57132,86883,123684,143737,...,109022,79852,72193,55517,36881,28364,3694,8024,3387.0,2277.0
3,202503,1호선,시청,1997,5455,3779,25804,7720,74701,11314,...,51204,8940,30091,6282,9895,3996,498,1158,1384.0,3232.0
4,202503,1호선,신설동,9035,2193,9588,8404,22160,25628,33587,...,13853,17181,9665,14519,4096,9287,461,2796,3389.0,1066.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1858,202501,중앙선,원덕,221,1,435,76,660,174,726,...,73,397,20,335,2,233,0,70,235.0,7.0
1859,202501,중앙선,중랑,5098,538,7874,1755,17429,2709,18358,...,2664,7737,1978,7716,910,4188,31,332,5364.0,578.0
1860,202501,중앙선,지평,0,0,0,0,169,42,13,...,19,125,0,0,0,0,0,0,0.0,0.0
1861,202501,중앙선,팔당,105,55,318,374,807,1301,815,...,941,317,599,269,136,129,0,0,134.0,62.0
1862,202501,중앙선,회기,9980,3264,17655,10963,47819,22127,63370,...,20185,34364,17826,36665,8544,23475,449,4859,10688.0,3359.0